/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/jjk-all.jpg') center/cover no-repeat;
    color: #f5f5f5;
}

h1, h2, h4 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

a:hover {
    color: #ff9900;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    width: calc(100% - 2rem);
    z-index: 1000;
}

.logo {
    height: 50px;
}

.header .btn {
    background: rgba(255, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 1.2rem;
    border: 1px solid rgba(255, 0, 0, 0.3); 
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease;
    position: relative;
    margin-right: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}

.header .btn.active {
    background: rgba(255, 0, 0, 0.4);
}

.header .btn::before {
    position: absolute;
    width: 10px;
    height: 50px;
    z-index: -1;
    background: rgba(255, 0, 0, 0.3);
    display: block;
    content: '';
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: skew(20deg) translateY(-5px) translateX(40px);
    transition: all 0.2s ease;
}

.header .btn:hover {
    background: rgba(255, 0, 0, 0.4);
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.6);
    transform: translateY(-3px);
}

.header .btn:hover::before {
    opacity: 0;
}

/* Hero Section Styles */
.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.hero .main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero .quote {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}

.hero .quote p {
    font-style: italic;
}

.hero .quote span {
    display: block;
    margin-top: 0.5em;
    text-align: right;
    font-size: 0.9em;
}

.hero .bg-black {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em;
    border-radius: 10px;
}

.hero .bg-black h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

/* About Section Styles */
.about-section {
    background: rgba(255, 255, 255, 0.9);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 2em auto;
    color: #333;
    text-align: left;
}

.about-section img {
    border-radius: 10px;
    margin-bottom: 1em;
    max-width: 100%;
    height: auto;
}

.about-section h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #111;
    text-align: center;
}

.about-section p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #444;
}


/* Responsive Styles for About Section */
@media (max-width: 768px) {
    .about-section {
        padding: 1.5em;
    }

    .about-section h1 {
        font-size: 2em;
    }

    .about-section p {
        font-size: 1.1em;
    }
}

@media (max-width: 576px) {
    .about-section {
        padding: 1em;
    }

    .about-section h1 {
        font-size: 1.8em;
    }

    .about-section p {
        font-size: 1em;
    }
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .hero .h1 {
        font-size: 2em;
    }

    .hero .bg-black h2 {
        font-size: 1.8em;
    }

    .hero .bg-black h4 {
        font-size: 1em;
    }

    .section h1 {
        font-size: 1.8em;
    }
}

@media (max-width: 992px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .btn {
        margin-bottom: 1em;
    }

    .hero .h1 {
        font-size: 1.8em;
    }

    .hero .bg-black h2 {
        font-size: 1.5em;
    }

    .hero .bg-black h4 {
        font-size: 0.9em;
    }

    .section h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 768px) {
    .header .logo img {
        height: 40px;
    }

    .header .btn {
        padding: 0.5em 0.8em;
    }

    .hero .main-title {
        width: 90%;
        padding: 0 1em;
    }

    .hero .h1 {
        font-size: 1.5em;
    }

    .hero .bg-black h2 {
        font-size: 1.3em;
    }

    .hero .bg-black h4 {
        font-size: 0.8em;
    }

    .section h1 {
        font-size: 1.3em;
    }

    .section p {
        font-size: 1em;
    }
}

@media (max-width: 576px) {
    .header .btn {
        margin-bottom: 0.5em;
    }

    .hero .h1 {
        font-size: 1.2em;
    }

    .hero .bg-black h2 {
        font-size: 1em;
    }

    .hero .bg-black h4 {
        font-size: 0.7em;
    }

    .section {
        padding: 1em;
    }

    .section h1 {
        font-size: 1.2em;
    }

    .section p {
        font-size: 0.9em;
    }
}
