/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    font-family: 'Lato', sans-serif; /* Changed to Lato for readability */
    margin: 0;
    padding: 0;
    color: #f5f5f5;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/jjk-all.jpg') center/cover no-repeat;
}

h1, h2, h4 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

a:hover {
    color: #ff9900;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo img {
    height: 50px;
}

.header .btn {
    background: rgba(255, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 1.2rem;
    border: 1px solid rgba(255, 0, 0, 0.3); 
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease;
    position: relative;
    margin-right: 40px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}

.header .btn.active {
    background: rgba(255, 0, 0, 0.4);
}

.header .btn::before {
    position: absolute;
    width: 10px;
    height: 50px;
    z-index: -1;
    background: rgba(255, 0, 0, 0.3);
    display: block;
    content: '';
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: skew(20deg) translateY(-5px) translateX(40px);
    transition: all 0.2s ease;
}

.header .btn:hover {
    background: rgba(255, 0, 0, 0.4);
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.6);
    transform: translateY(-3px);
}

.header .btn:hover::before {
    opacity: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px); /* Adjust min-height to ensure full view */
    padding-top: 100px; /* Add padding to avoid overlap with fixed header */
}

.wrapper {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 38px;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    text-align: center;
}

.banner-image {
    background-image: url('../img/jujutsu-high.webp');
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.255);
    margin-bottom: 20px;
}

h1 {
    font-family: 'Righteous', sans-serif; /* Changed font to Righteous for headings */
    color: rgba(255, 255, 255, 0.98);
    text-transform: uppercase;
    font-size: 2.4rem;
    margin-bottom: 10px;
}

p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    line-height: 1.6;
    letter-spacing: 1px;
    text-transform: none;
    margin-bottom: 20px;
}

.card-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: rgba(17, 25, 40, 0.85);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.9);
}

.card p {
    font-size: 0.9rem;
    color: #ddd;
    margin-bottom: 15px;
    line-height: 1.6;
}

.card a {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.4);
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: rgba(255, 0, 0, 0.6);
}
